body{
   
    background-image:url(../img/mbbg.jpg);
    
}
.box{
    flex-direction: column;
    width: 80%;
    top: 5vh;
    left:9vh;

}
.logo{
    font-size: 150%;
}
.left-box{
    padding: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgba(8, 205, 231, 0.7);
   

}

.wel-msg{
    position: relative;    
    text-align: center;
    top: 25%;
}
.wel-msg h2{
    font-size: 300%;

}
footer{
    text-align: center;
    position: relative;
    top: 60%;
    
}

footer a{
    text-decoration: none;
    font-size: 100%;
    color: cornsilk;
    text-transform: uppercase;
}
.right-box{
    
    border-top-right-radius: 0px;
   border-bottom-left-radius: 25px;


}
.login{
    font-size: 150%;
    margin-bottom: 35px;
}

.inputs{
    position: relative;
    text-align: center;
    top: 15%;
}
.but{
    width: 70%;
    border-radius: 25px;
    height: 45px;
    border: none;
    margin-bottom: 20px;
    color: #fff;
   
}
.continue{
    background: linear-gradient(rgba(187, 255, 1, 0.8),rgba(212, 139, 2, 0.8));
}

.continue:hover{
    cursor: pointer;

}
.social-p{
margin: 30px auto;
}
.google{
background-color:rgba(196, 53, 10,.7);
cursor: pointer;
}
.facebook{
background-color: rgb(9, 9, 243,.7);
cursor: pointer;
}
.twitter{
background-color: rgba(6, 188, 233,.7);
cursor: pointer;
}

::placeholder{
    padding: 10px;
    text-align: center;
}

input[type=email]{
    color: rgb(183, 19, 224);
    padding: 15px;
}
input[type=password]{
    color: blueviolet;
    padding: 15px;
}

